openapi: "3.0.3"
info:
  title: WebPeel API
  description: |
    Fast web fetcher for AI agents. Convert any website to LLM-ready markdown, 
    search the web, crawl sites, extract structured data, and more.
    
    **Base URL:** `https://api.webpeel.dev`
    
    **Authentication:** Optional. Pass API key via `Authorization: Bearer wp_...` header.
    Free tier available without authentication (500 requests/week).
    
    **Firecrawl Compatible:** WebPeel supports Firecrawl-compatible endpoints at the same paths.
    Switch from Firecrawl by changing your base URL.
  version: "0.15.1"
  contact:
    name: WebPeel Support
    email: support@webpeel.dev
    url: https://webpeel.dev
  license:
    name: AGPL-3.0-or-later
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://api.webpeel.dev
    description: Production API
  - url: http://localhost:3000
    description: Local / Self-hosted

security:
  - bearerAuth: []
  - {}

paths:
  /v1/fetch:
    get:
      operationId: scrape
      summary: Scrape a URL
      description: |
        Fetch a web page and extract content as markdown, text, or HTML.
        Automatically handles JavaScript rendering and anti-bot protection.
      tags: [Scrape]
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
          description: URL to scrape
          example: https://example.com
        - name: format
          in: query
          schema:
            type: string
            enum: [markdown, text, html]
            default: markdown
          description: Output format
        - name: render
          in: query
          schema:
            type: boolean
            default: false
          description: Use browser rendering (for JS-heavy sites)
        - name: stealth
          in: query
          schema:
            type: boolean
            default: false
          description: Use stealth mode (for anti-bot protected sites)
        - name: screenshot
          in: query
          schema:
            type: boolean
            default: false
          description: Capture screenshot (base64 PNG)
        - name: selector
          in: query
          schema:
            type: string
          description: CSS selector to extract specific content
          example: article
        - name: exclude
          in: query
          schema:
            type: string
          description: CSS selector to exclude elements
          example: nav,footer,.ads
        - name: includeTags
          in: query
          schema:
            type: string
          description: Comma-separated HTML tags to include
          example: article,main,section
        - name: excludeTags
          in: query
          schema:
            type: string
          description: Comma-separated HTML tags to exclude
          example: nav,footer,aside
        - name: onlyMainContent
          in: query
          schema:
            type: boolean
            default: true
          description: Auto-detect and extract main content only
        - name: maxTokens
          in: query
          schema:
            type: integer
            minimum: 100
          description: Maximum tokens in output
        - name: images
          in: query
          schema:
            type: boolean
            default: false
          description: Extract image URLs
        - name: location
          in: query
          schema:
            type: string
          description: Geo-location for request (country code)
          example: US
        - name: language
          in: query
          schema:
            type: string
          description: Preferred language
          example: en
        - name: budget
          in: query
          schema:
            type: integer
            minimum: 100
          description: Smart token budget — distill content to approximately N tokens (removes boilerplate, compresses tables)
          example: 4000
        - name: question
          in: query
          schema:
            type: string
          description: Ask a question about the page content (LLM-free, returns quick answer with confidence score)
          example: Who founded this company?
        - name: readable
          in: query
          schema:
            type: boolean
            default: false
          description: Extract article-only content using readability engine (strips navigation, sidebars, ads)
        - name: fullPage
          in: query
          schema:
            type: boolean
            default: false
          description: Return full page without content pruning (disables noise removal)
        - name: raw
          in: query
          schema:
            type: boolean
            default: false
          description: Raw output without any content processing
        - name: wait
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 60000
          description: Milliseconds to wait for dynamic content after page load (only with render=true)
        - name: timeout
          in: query
          schema:
            type: integer
            default: 30000
          description: Request timeout in milliseconds
        - name: maxAge
          in: query
          schema:
            type: integer
          description: Max cache age in milliseconds (0 = fresh)
      responses:
        "200":
          description: Successfully scraped content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScrapeResponse"
        "400":
          description: Bad request
        "429":
          description: Rate limit exceeded
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer

  /v1/search:
    get:
      operationId: search
      summary: Search the web
      description: |
        Search the web and get results with snippets.
        Supports DuckDuckGo (default, free) and Brave Search (requires API key via BYOK).
      tags: [Search]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: provider
          in: query
          schema:
            type: string
            enum: [duckduckgo, brave]
            default: duckduckgo
          description: "Search provider (default: duckduckgo)"
        - name: searchApiKey
          in: query
          schema:
            type: string
          description: API key for search provider (alternative to x-search-api-key header)
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          description: Max results
        - name: categories
          in: query
          schema:
            type: string
          description: Search categories
        - name: time
          in: query
          schema:
            type: string
            enum: [d, w, m, y]
          description: Time filter (day, week, month, year)
        - name: country
          in: query
          schema:
            type: string
          description: Country code for geo-targeted results
        - name: location
          in: query
          schema:
            type: string
          description: Location for geo-targeted results
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"

  /v1/answer:
    post:
      operationId: answer
      summary: Answer a question with web sources
      description: |
        Search the web, fetch top results, and generate an AI-powered answer with
        source citations using the caller's own LLM API key (BYOK).
      tags: [Answer]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question, llmProvider, llmApiKey]
              properties:
                question:
                  type: string
                  description: The question to answer
                searchProvider:
                  type: string
                  enum: [duckduckgo, brave]
                  default: duckduckgo
                  description: Search provider
                searchApiKey:
                  type: string
                  description: API key for Brave Search
                llmProvider:
                  type: string
                  enum: [openai, anthropic, google]
                  description: LLM provider
                llmApiKey:
                  type: string
                  description: LLM API key (BYOK)
                llmModel:
                  type: string
                  description: LLM model name (optional, uses provider default)
                maxSources:
                  type: integer
                  default: 5
                  minimum: 1
                  maximum: 10
                  description: Number of web sources to fetch
                stream:
                  type: boolean
                  default: false
                  description: Stream answer via SSE
      responses:
        "200":
          description: Generated answer with citations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                type: string
                description: SSE stream (when stream=true)

  /v1/crawl:
    post:
      operationId: startCrawl
      summary: Start a crawl job
      description: Start an async crawl job. Returns a job ID for polling.
      tags: [Crawl]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  description: Starting URL
                limit:
                  type: integer
                  default: 10
                  description: Max pages to crawl
                maxDepth:
                  type: integer
                  default: 3
                  description: Max crawl depth
                includePaths:
                  type: array
                  items:
                    type: string
                  description: URL path patterns to include
                excludePaths:
                  type: array
                  items:
                    type: string
                  description: URL path patterns to exclude
      responses:
        "200":
          description: Crawl job started
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string

  /v1/crawl/{id}:
    get:
      operationId: getCrawlStatus
      summary: Get crawl job status
      tags: [Crawl]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job status and results
    delete:
      operationId: cancelCrawl
      summary: Cancel a crawl job
      tags: [Crawl]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job cancelled

  /v1/batch/scrape:
    post:
      operationId: batchScrape
      summary: Batch scrape multiple URLs
      tags: [Batch]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [urls]
              properties:
                urls:
                  type: array
                  items:
                    type: string
                  description: URLs to scrape
                options:
                  type: object
                  properties:
                    format:
                      type: string
                    render:
                      type: boolean
                    stealth:
                      type: boolean
      responses:
        "200":
          description: Batch job started

  /v1/batch/scrape/{id}:
    get:
      operationId: getBatchStatus
      summary: Get batch job status
      tags: [Batch]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Batch status and results

  /v1/agent:
    post:
      operationId: agent
      summary: AI-powered web research agent
      description: |
        Autonomous web research using your own LLM. Searches, fetches, analyzes,
        and compiles data based on a natural language prompt.
        Requires a BYOK (Bring Your Own Key) LLM API key.

        **Streaming:** Set `stream: true` to receive Server-Sent Events (SSE):
        - `{"type":"step","action":"searching","query":"..."}` — searching
        - `{"type":"step","action":"fetching","url":"..."}` — fetching a page
        - `{"type":"step","action":"analyzing","summary":"..."}` — processing
        - `{"type":"chunk","text":"..."}` — incremental answer text
        - `{"type":"done","answer":"...","sources":[...],"tokensUsed":{...}}` — final result
      tags: [Agent]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt, llmApiKey]
              properties:
                prompt:
                  type: string
                  description: Research prompt
                  example: Find the pricing plans for Notion
                urls:
                  type: array
                  items:
                    type: string
                  description: Optional URLs to focus research on
                llmApiKey:
                  type: string
                  description: Your OpenAI-compatible API key
                llmModel:
                  type: string
                  default: gpt-4o-mini
                  description: LLM model to use
                llmApiBase:
                  type: string
                  description: Custom LLM API base URL
                schema:
                  type: object
                  description: JSON schema for structured output (legacy — prefer outputSchema)
                outputSchema:
                  type: object
                  description: JSON Schema for structured output. When provided, the LLM response is validated against this schema.
                depth:
                  type: string
                  enum: [basic, thorough]
                  default: basic
                  description: |
                    Research depth:
                    - `basic`: 1 search round, top 3 results (fast)
                    - `thorough`: up to 3 search rounds, top 10 results, cross-references (comprehensive)
                topic:
                  type: string
                  enum: [general, news, technical, academic]
                  default: general
                  description: Topic filter — adjusts search queries and source prioritization
                maxSources:
                  type: integer
                  default: 5
                  minimum: 1
                  maximum: 20
                  description: Maximum number of web sources to fetch and analyse
                maxPages:
                  type: integer
                  default: 10
                  description: Max pages to visit (legacy — prefer maxSources)
                maxCredits:
                  type: integer
                  description: Maximum credits/cost to spend
                stream:
                  type: boolean
                  default: false
                  description: When true, return Server-Sent Events (SSE) with progress and incremental answer
      responses:
        "200":
          description: |
            Research results (JSON when stream=false, SSE when stream=true).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
            text/event-stream:
              schema:
                type: string
                description: SSE stream with step/chunk/done events

  /mcp:
    post:
      operationId: mcpPost
      summary: MCP Streamable HTTP endpoint
      description: |
        Hosted MCP (Model Context Protocol) server over HTTP. Send JSON-RPC 2.0
        messages and receive MCP protocol responses.

        **Connect any MCP client** with:
        ```json
        {
          "url": "https://api.webpeel.dev/mcp",
          "headers": { "Authorization": "Bearer wp_..." }
        }
        ```

        Supports tools: `webpeel_fetch`, `webpeel_search`, `webpeel_crawl`,
        `webpeel_map`, `webpeel_extract`, `webpeel_batch`, `webpeel_agent`.
      tags: [MCP]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: JSON-RPC 2.0 message (e.g., tools/list, tools/call)
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                method:
                  type: string
                  description: MCP method (e.g., "initialize", "tools/list", "tools/call")
                id:
                  oneOf:
                    - type: string
                    - type: number
                params:
                  type: object
              required: [jsonrpc, method]
      responses:
        "200":
          description: MCP JSON-RPC response

  /health:
    get:
      operationId: health
      summary: Health check
      tags: [System]
      responses:
        "200":
          description: Service healthy

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key (wp_...) or Firecrawl key (fc-...)

  schemas:
    ScrapeResponse:
      type: object
      properties:
        url:
          type: string
        markdown:
          type: string
          description: Extracted markdown content
        metadata:
          type: object
          properties:
            title:
              type: string
            description:
              type: string
            language:
              type: string
            sourceURL:
              type: string
            statusCode:
              type: integer
        tokens:
          type: integer
          description: Estimated token count
        quality:
          type: number
          description: Content quality score (0-1)
        fingerprint:
          type: string
          description: Content hash for change detection
        method:
          type: string
          description: Fetch method used (http/browser/stealth)
        timeMs:
          type: integer
          description: Response time in milliseconds
        images:
          type: array
          items:
            type: object
            properties:
              src:
                type: string
              alt:
                type: string
              width:
                type: integer
              height:
                type: integer

    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              url:
                type: string
              snippet:
                type: string

    AnswerResponse:
      type: object
      properties:
        answer:
          type: string
          description: Generated answer with [1], [2] citations
        citations:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              url:
                type: string
              snippet:
                type: string
        searchProvider:
          type: string
          enum: [duckduckgo, brave]
        llmProvider:
          type: string
          enum: [openai, anthropic, google]
        llmModel:
          type: string
        tokensUsed:
          type: object
          properties:
            input:
              type: integer
            output:
              type: integer

  /v1/youtube:
    get:
      operationId: youtubeTranscript
      summary: Extract YouTube video transcript
      description: |
        Automatically extract transcripts from YouTube video URLs. No API key needed.
        Supports all YouTube URL formats: watch, youtu.be, embed, and shorts.
        Returns structured transcript data with timestamps.
      tags: [Extract]
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
          description: YouTube video URL (watch, youtu.be, embed, or shorts format)
          example: https://www.youtube.com/watch?v=dQw4w9WgXcQ
      responses:
        "200":
          description: Transcript extracted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  transcript:
                    type: string
                  segments:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                        start:
                          type: number
                        duration:
                          type: number
                  videoId:
                    type: string
                  title:
                    type: string

  /v1/answer/quick:
    get:
      operationId: quickAnswer
      summary: LLM-free quick answer using BM25
      description: |
        Ask a question about any page without an LLM API key.
        Uses BM25 relevance scoring + heuristic boosting to find the most relevant passages.
        Fast, free, and requires no external API credentials.
      tags: [Answer]
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
          description: URL to fetch and search for the answer
          example: https://openai.com/pricing
        - name: question
          in: query
          required: true
          schema:
            type: string
          description: Question to answer about the page content
          example: How much does GPT-4 cost?
      responses:
        "200":
          description: Answer found
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                  passages:
                    type: array
                    items:
                      type: string
                  score:
                    type: number

  /v1/extract/auto:
    get:
      operationId: autoExtract
      summary: Auto-detect page type and extract structured data
      description: |
        Automatically detect the type of a web page and extract structured JSON data.
        Supports pricing pages, product listings, contact pages, articles, and API documentation.
        No LLM needed — pure heuristic extraction.
      tags: [Extract]
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
          description: URL to fetch and auto-extract from
          example: https://github.com/webpeel/webpeel
      responses:
        "200":
          description: Structured data extracted
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Detected page type (pricing, product, contact, article, api-docs, etc.)
                  data:
                    type: object
                    description: Extracted structured data (shape varies by page type)
                  confidence:
                    type: number
                    description: Extraction confidence score (0–1)

  /v1/deep-fetch:
    post:
      operationId: deepFetch
      summary: Deep fetch with BM25 scoring and cross-source deduplication
      description: |
        Enhanced deep fetch: search for a query, fetch top N sources in parallel, score
        passages with BM25 per source, extract key points, deduplicate across sources,
        and optionally detect comparison queries (auto-detects "vs" patterns).
        Returns a merged, relevance-ranked markdown document. No LLM key needed.
      tags: [Agent]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: Search query or research question
                  example: "Firecrawl vs WebPeel feature comparison"
                count:
                  type: integer
                  minimum: 1
                  maximum: 20
                  default: 5
                  description: Number of sources to fetch and merge
      responses:
        "200":
          description: Merged research document
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                    description: Merged markdown with source attribution
                  sources:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        title:
                          type: string
                        score:
                          type: number
                  isComparison:
                    type: boolean
                    description: True if the query was detected as a comparison query

  /v1/watch:
    get:
      operationId: listWatchers
      summary: List URL watchers
      description: List all active URL watchers for the authenticated user.
      tags: [System]
      responses:
        "200":
          description: List of watchers
          content:
            application/json:
              schema:
                type: object
                properties:
                  watchers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        url:
                          type: string
                        schedule:
                          type: string
                        webhookUrl:
                          type: string
                        createdAt:
                          type: string
    post:
      operationId: createWatcher
      summary: Create a URL watcher
      description: |
        Create a persistent URL watcher that monitors a URL for content changes on a schedule.
        Sends webhook notifications when changes are detected. PostgreSQL-backed.
      tags: [System]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, webhookUrl]
              properties:
                url:
                  type: string
                  description: URL to monitor
                webhookUrl:
                  type: string
                  description: Webhook URL to notify on change
                schedule:
                  type: string
                  description: Cron schedule (default every hour)
                  default: "0 * * * *"
      responses:
        "201":
          description: Watcher created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  url:
                    type: string
                  schedule:
                    type: string

tags:
  - name: Scrape
    description: Scrape web pages
  - name: Search
    description: Search the web
  - name: Answer
    description: AI-powered question answering with web sources
  - name: Crawl
    description: Crawl websites
  - name: Batch
    description: Batch operations
  - name: Extract
    description: Structured data extraction
  - name: Agent
    description: AI-powered web research
  - name: System
    description: System endpoints
